<% content_for :body_type do%>
profile_1<% end %>
<div id="profile">
  <h1>Welcome to your profile page</h1>
  <h2>Connect with Soundcloud!</h2>
  <h1><%= link_to 'Search for more tracks', search_path %></h1>
  <div id="connect">
  <%= link_to('connect to soundcloud', soundcloud_path, :class => 'btn btn-large btn-primary')%>
</div>
  <br />

  <table class="table table-striped table-hover">
    <thead>
       <% @favs.each do |favorite| %>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div>
          <iframe width="50%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?visual=true&amp;url=https://api.soundcloud.com/tracks/<%=favorite.track_id %>&amp;show_artwork=&amp;client_id=<%ENV['SOUNDCLOUD_CLIENT_ID']%>"></iframe>
          <%= link_to("Remove", destroy_path(favorite.id), method: :delete, :class => 'btn btn-default')%>
          <%= link_to("tweet!", tweets_path(favorite.track_id), method: "post", :class => 'btn btn-large btn-primary') %> </br>
          </div>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

